.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(../images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
.prod_slider .owl-theme .owl-controls .owl-buttons {
    text-align: center;
    width: 54px;
    top: -50px;
    text-align: center;
    position: absolute;
    right: 0;
    opacity: 1;
}
.prod_slider .owl-theme .owl-controls .owl-buttons .owl-prev {
    font-size: 0;
    color: var(--gray);
    background: none;
    width: 26px;
    float: left;
    position: relative;
}
.prod_slider .owl-theme .owl-controls .owl-buttons .owl-next {
    font-size: 0;
    color: var(--gray);
    background: none;
    width: 26px;
    float: right;
}

.prod_slider .owl-theme .owl-controls .owl-buttons div {
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: none;
    filter: Alpha(Opacity=50);
    opacity: 1;
}

.single-product {
    overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.product-img {
    position: relative;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}
.product-img img {
    transition: all 0.7s ease 0s;
    width: 100%;
    object-fit: cover;
}
.product-img img.secondary-image {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
.action-zoom {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    opacity: 0;
    transition: all 0.7s ease 0s;
}
.add-to-cart {
    display: block;
    margin-bottom: 15px;
}
.add-to-cart p {
    background: var(--dark-gray);
    padding: 10px 15px 8px;
    cursor: pointer;
}
.single-product:hover .product-img a:before {
    opacity: .4;
    z-index: 9;
}
.single-product:hover .action-zoom {
    opacity: 1;
    top: 45%;
    z-index: 9;
}
.single-product:hover .product-img img.secondary-image {
    opacity: 1;
}
.product-content h2 {
	font-size: 16px;
    font-family: 'Barlow';
    line-height: 25px;
}
.product-content p {
	font-size: 18px;
	position: relative;
    color: black;
}
.product-content p::before {
	content: '';
	position: absolute;
	background: var(--gray);
	height: 2px;
	width: 0;
	right: 0;
	bottom: 0;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}
.single-product:hover .product-content p {
	color: var(--gray);
}
.single-product:hover .product-content p::before {
	width: 100%;
    left: 0;
}
.add-to-cart p:hover {
	background: var(--gray);
}
.owl-theme .owl-controls .owl-buttons >div:before {
    content: "\f103";
    display: inline-block;
    font-family: Flaticon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3f3f3f;
    font-size: 12px;
    float: left;
    width: 100%;
}
.owl-theme .owl-controls .owl-buttons .owl-next:before {
    content: "\f102";
}
.owl-theme .owl-controls .owl-buttons .owl-prev:after {
    content: "";
    height: 15px;
    border-left: 1px solid #ccc;
    position: absolute;
    top: 1px;
    right: -1px;
}
.owl-theme .owl-controls .owl-buttons >div.disabled::before {
    color: var(--gray) !important;
    cursor: context-menu;
}